#nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 180px;
  height: 90vh;
  top: 10vh;
  background-color: black;
  border: solid black;
  z-index: 2;
  .nav-btn {
    color: white;
    background-color: black;
    border: 4px solid rebeccapurple;
    text-decoration: none;
    font-size: x-large;
    padding: 15px 20px;
    border-radius: 40px;
    cursor: pointer;
  }
  .nav-btn:hover {
    background-color: white;
    color: black;
  }
  #logo-div {
    display: flex;
    align-items: center;
    width: 100vw;
    padding-left: 20px;
    height: 10vh;
    background-color: rgb(255, 255, 255);
    border-bottom: solid black;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 4;
    #logo {
        /* left: 30vw; */
        /* align-self: ; */
        font-size: 35px;
    }
}

  #searchBar {
    position: absolute;
    top: 110px;
    width: 40vw;
    height: 60px;
    background-color: rgb(164, 157, 157);
  }
}
