#pokemon-view {
    margin: 0 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 40px;
  
    image-rendering: pixelated;
    #main-div {
      flex-grow: 2;
      box-shadow: 0 0 10px 10px grey;
  
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  
      border-radius: 100px;
      height: 550px;
  
      img {
        width: 200px;
        height: 200px;
      }
      #speaker-icon {
        width: 40px;
        height: 40px;
        cursor: pointer;
        margin-left: 5px;
      }
  
      #stat-div {
        margin-top: 50px;
        display: flex;
        padding: 0 5px;
        flex-direction: row;
        border-radius: 40px;
        box-shadow: 0 0 10px 1px grey;
  
        .stat {
          font-size: xx-large;
          margin: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 6px;
        }
      }
  
      #type-div {
        button {
          padding: 10px 15px;
          margin: 5px;
          color: white;
          font-size: larger;
          border-radius: 10px;
        }
      }
    }
    #next-div {
      border-radius: 0px 150px 40px 0px;
    }
    #prev-div {
      border-radius: 40px 0px 0px 150px;
    }
    #next-div,
    #prev-div {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
  
      flex-grow: 0.5;
      align-items: center;
      padding: 20px 0;
      p {
        font-size: xx-large;
      }
  
      img {
        width: 150px;
        height: 150px;
      }
      h3 {
        padding: 15px;
        border-radius: 20px;
      }
    }
  }
  @keyframes side-div {
    0% {
      flex-grow: 1;
      height: 300px;
    }
    100% {
      flex-grow: 2;
      height: 500px;
    }
  }
  @keyframes side-img {
    100% {
      width: 300px;
      height: 300px;
    }
  }
  
  #prev-div:hover {
    animation: next-div 0.1s forwards;
    #prev-img {
      animation: side-img 0.3s forwards;
    }
  }
  #next-div:hover {
    animation: next-div 0.1s forwards;
    #next-img {
      animation: side-img 0.3s forwards;
    }
  }
  
  .grass-s {
    box-shadow: 0 0 1000px 50px rgb(1, 202, 1);
  }
  .electric-s {
    box-shadow: 0 0 1000px 50px yellow;
  }
  .poison-s {
    box-shadow: 0 0 1000px 50px purple;
  }
  .fire-s {
    box-shadow: 0 0 1000px 50px rgb(255, 136, 0);
  }
  .fairy-s {
    box-shadow: 0 0 1000px 50px pink;
  }
  .flying-s {
    box-shadow: 0 0 1000px 50px cornflowerblue;
  }
  .dragon-s {
    box-shadow: 0 0 1000px 50px blue;
  }
  .psychic-s {
    box-shadow: 0 0 1000px 50px hotpink;
  }
  .ice-s {
    box-shadow: 0 0 1000px 50px rgb(165, 246, 246);
  }
  .normal-s {
    box-shadow: 0 0 1000px 50px dimgray;
  }
  .rock-s {
    box-shadow: 0 0 1000px 50px darkgoldenrod;
  }
  .ground-s {
    box-shadow: 0 0 1000px 50px burlywood;
  }
  .fighting-s {
    box-shadow: 0 0 1000px 50px brown;
  }
  .water-s {
    box-shadow: 0 0 1000px 50px dodgerblue;
  }
  .bug-s {
    box-shadow: 0 0 1000px 50px rgb(149, 233, 65);
  }
  .dark-s {
    box-shadow: 0 0 1000px 50px rgb(46, 43, 43);
  }
  .steel-s {
    box-shadow: 0 0 1000px 50px rgb(186, 185, 185);
  }
  .ghost-s {
    box-shadow: 0 0 1000px 50px rgb(97, 10, 97);
  }
  