@tailwind base;
@tailwind components;
@tailwind utilities;
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: monospace;
	image-rendering: pixelated;
}
div {
	display: flex;
	border-color: black;
}

@keyframes scaleUp {
	100% {
		width: 20vw;
		height: 20vw;
	}
}
.pkmnPageImage:hover {
	animation: scaleUp 0.5s forwards;
}
@keyframes scaleDown {
	100% {
		width: 20vw;
		height: 20vw;
	}
}
.d:hover {
	animation: scaleDown 0.5s forwards;
}
