* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

.Grass {
  background-color: green;
}
.Electric {
  background-color: rgba(199, 199, 18, 0.996);
  color: black;
}
.Poison {
  background-color: purple;
}
.Fire {
  background-color: rgb(255, 136, 0);
  color: black;
}
.Fairy {
  background-color: rgb(239, 133, 151);
  color: black;
}
.Flying {
  background-color: cornflowerblue;
}
.Dragon {
  background-color: blue;
}
.Psychic {
  background-color: hotpink;
}
.Ice {
  background-color: rgb(84, 182, 182);
}
.Normal {
  background-color: rgb(181, 150, 121);
}
.Rock {
  background-color: darkgoldenrod;
}
.Ground {
  background-color: rgb(187, 144, 88);
}
.Fighting {
  background-color: brown;
}
.Water {
  background-color: dodgerblue;
}
.Bug {
  background-color: rgb(106, 174, 38);
}
.Dark {
  background-color: rgb(46, 43, 43);
}
.Steel {
  background-color: rgb(186, 185, 185);
}
.Ghost {
  background-color: rgb(97, 10, 97);
}
