* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

.grass {
  background-color: green;
}
.electric {
  background-color: rgba(199, 199, 18, 0.996);
  color: black;
}
.poison {
  background-color: purple;
}
.fire {
  background-color: rgb(255, 136, 0);
  color: black;
}
.fairy {
  background-color: rgb(239, 133, 151);
  color: black;
}
.flying {
  background-color: cornflowerblue;
}
.dragon {
  background-color: blue;
}
.psychic {
  background-color: hotpink;
}
.ice {
  background-color: rgb(84, 182, 182);
}
.normal {
  background-color: rgb(181, 150, 121);
}
.rock {
  background-color: darkgoldenrod;
}
.ground {
  background-color: rgb(187, 144, 88);
}
.fighting {
  background-color: brown;
}
.water {
  background-color: dodgerblue;
}
.bug {
  background-color: rgb(106, 174, 38);
}
.dark {
  background-color: rgb(46, 43, 43);
}
.steel {
  background-color: rgb(186, 185, 185);
}
.ghost {
  background-color: rgb(97, 10, 97);
}
